
.fieldset {
    background-color: black;
    border: 5px double;
    border-radius: 20px;
    border-color: hsl(19, 58%, 45%);
    color: hsl(0, 0%, 100%);

  }

.label__container {
  padding: 5px;
  margin: 0 auto;
  display: grid;
  justify-content: center;
  gap: 5px;
}
  

  

  