
.fieldset {
    background-color: black;
    border: 5px double;
    border-radius: 20px;
    border-color: hsl(19, 58%, 45%);
    color: hsl(0, 0%, 100%);

  }



.fieldset__footer {
  color: #fff;
  text-align: right;
}

.fieldset__legend {
  background-color: black;
  border-radius: 20px;
  text-align: left;
  font-size: large;
  border: 2px solid hsl(24, 98%, 68%);
  padding: 10px;
}

.label__container {
  padding: 5px;
  margin: 0 auto;
  display: grid;
  justify-content: center;
  gap: 5px;
}

.label__paragraph {
  margin: 0;
  padding-bottom: 10px;
}

.label__amount {
  text-align: center;
  border-radius: 50px;
  background-color: hsl(0, 0%, 85%);
  padding: 4px;
  margin: 2px;
  width: 250px;
}

.label__button {
  border-style: none;
  border-radius: 10px;
  background-color: hsl(19, 68%, 58%);
  width: 250px;
  padding: 4px;
  margin: 2px;
  transition: 1s;
}

.label__button:hover {
  background-color: hsl(19, 68%, 53%)
}

.label__button:active {
  background-color: hsl(19, 68%, 45%)
}

  